package component

templ Navbar() {
	<div
		x-data="{
            init: () => {
		        document.body.style.marginTop = `${$el.offsetHeight}px`;
                console.log('Success', document.body.style.marginTop, $el.offsetHeight)
            }
        }"
		class="navbar bg-base-300 fixed top-0 z-50"
	>
		{ children... }
	</div>
}
