package template

templ Base(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>{ title }</title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<meta charset="UTF-8"/>
			<link rel="stylesheet" href="/static/style/output.css"/>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
